In [1]:
import pandas as pd

In [2]:
border = pd.read_csv("Border_Crossing_Entry_Data.csv")
gdp = pd.read_csv("GDP.csv")
border.head()
gdp.head()

,Country Name,Country Code,Indicator Name,1961,1962,1963,1964,1965,1966,1967,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,GDP growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.685030,3.446055,-1.369863,4.198232,0.848228,-0.450586,-0.211225,1.330511,NaN,NaN
1,Afghanistan,AFG,GDP growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.362441,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.665292,1.030660,NaN
2,Angola,AGO,GDP growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.859220,3.471981,8.542147,4.954590,4.822626,0.943576,-2.580097,-0.147207,-2.133493,NaN
3,Albania,ALB,GDP growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.706891,2.545323,1.417524,1.001989,1.774487,2.218751,3.314805,3.821081,4.145238,NaN
4,Andorra,AND,GDP growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.358826,-4.646543,-1.615218,0.351645,2.277683,0.842204,1.889124,1.724022,1.629345,NaN

In [5]:
gdp = gdp.drop(columns = ['1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','2019'])

In [6]:
gdp.head()

,Country Name,Country Code,Indicator Name,1996,1997,1998,1999,2000,2001,2002,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,GDP growth (annual %),1.185790,7.046872,1.991988,1.238039,7.616590,-2.971257,-3.273647,...,-10.519748,-3.685030,3.446055,-1.369863,4.198232,0.848228,-0.450586,-0.211225,1.330511,NaN
1,Afghanistan,AFG,GDP growth (annual %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.390528,14.362441,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.665292,1.030660
2,Angola,AGO,GDP growth (annual %),13.544370,7.274277,4.691146,2.181490,3.054624,4.205999,13.665687,...,0.858713,4.859220,3.471981,8.542147,4.954590,4.822626,0.943576,-2.580097,-0.147207,-2.133493
3,Albania,ALB,GDP growth (annual %),9.099999,-10.919984,8.830088,12.889897,6.950036,8.290070,4.539961,...,3.350067,3.706891,2.545323,1.417524,1.001989,1.774487,2.218751,3.314805,3.821081,4.145238
4,Andorra,AND,GDP growth (annual %),4.649740,9.067672,3.194790,4.099081,3.528361,4.546768,6.471015,...,-3.690654,-5.358826,-4.646543,-1.615218,0.351645,2.277683,0.842204,1.889124,1.724022,1.629345

In [7]:
border.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)

In [ ]:
cleanedgdp = gdp