In [1]:
import pandas as pd

In [42]:
border = pd.read_csv("Border_Crossing_Entry_Data.csv")
gdp = pd.read_csv("gdp2.csv",  sep='delimiter', engine = 'python')
border.head()
gdp = gdp.drop(gdp.index[0:1])
gdp.head()

  ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1  Country Name,Country Code,Indicator Name,Indic...
2  Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD...
3  Afghanistan,AFG,GDP growth (annual %),NY.GDP.M...
4  Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.K...
5  Albania,ALB,GDP growth (annual %),NY.GDP.MKTP....

In [24]:
gdp = gdp.drop(['1991'], axis = 2)

ValueError: No axis named 2 for object type <class 'type'>